<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dts.CinemaAPI.domain.repositories.ShowtimeCustomRepo">

    <resultMap id="listShowtimeByMovieCinema" type="com.dts.CinemaAPI.domain.mapper.ShowtimeMapper">
        <id column="idshowtime" property="idShowtime" jdbcType="VARCHAR"/>
        <result column="dateshow" property="dateShow" jdbcType="VARCHAR"/>
        <result column="frametime" property="frameTime" jdbcType="VARCHAR"/>
        <result column="moviename" property="movieName" jdbcType="VARCHAR"/>
        <result column="namecinema" property="nameCinema" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listShowtimeByMovieCinema" resultMap="listShowtimeByMovieCinema" statementType="CALLABLE">
        {call listShowTime(#{arg0, jdbcType = VARCHAR, mode = IN},#{arg1, jdbcType = VARCHAR, mode = IN})}
    </select>

</mapper>