<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dts.CinemaAPI.domain.repositories.TicketRepo">

    <insert id="createTicket" parameterType="ticket" >
         {call createTicket(#{idticket, jdbcType = VARCHAR, mode = IN}, #{price, jdbcType = INTEGER, mode = IN},
         #{idseat, jdbcType = VARCHAR, mode = IN}, #{idshowtime, jdbcType = VARCHAR, mode = IN})}
    </insert>

</mapper>